.white-box{
			background-color: #eee;
			padding: 15px;
			width: auto;
			border-bottom: 1px solid #ddd;
			border-radius: 10px;
			margin: 10px;

		}
		.black-box{
			background-color: #000;
			color: #fff;
			padding: 15px;
			margin: 10px;
			width: auto;
			min-height: 50px;
			height: 50px;
			border-radius: 10px;
		}
				.field-text{
			display: block;
			width: 100%;
			margin-top: 10px;
			height: 30px;
			border: 1px solid #ccc;
			padding: 18px 15px;
			border-radius: 5px;
		}
		select{
			display: block;
			width: 100%;
			margin-top: 10px;
			height: 30px;
			border: 1px solid #ccc;
			padding: 5px !important;
			border-radius: 10px;

		}

		.hide{
			display: none;
		}
		#calc{
			max-width: 80%;
			margin: 10px 10%;
			align-content: center;
			overflow: hidden;
			background-color: #ccc;
			align-items: center;
			border-radius: 10px;
		}
/*		#debug{
			width: 150px;
			height: 150px;
			overflow: auto;
			padding: 20px 15px;
			margin: 10px 20px;
			position: fixed;
			right: 10px;
			top: 10px;
			background-color: #ccc;
			opacity: 0.6;
			border-radius: 10px;
		}*/